header {
    display: flex;
    padding: 0 20px;
    height: 40px;
}

header img {
    height: 24px;
    width: 24px;
}
.headerleft {
    display: flex;
    align-items: center;
}
.youtubelogo {
    display: flex;
    padding-left: 24px;
}
.youtubelogo img {
    width: 90px;
    height: 20px;
    object-fit: cover;
}
.youtubelogo p {
    font-size: 8px;
}

