header {
    display: flex;
    padding: 0 24px 0 15px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #0f0f0f;
    z-index: 100;
}

header img {
    height: 24px;
    width: 24px;
}
.headerleft {
    display: flex;
    align-items: center;
}
.bar {
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    transition: background-color 0.1s;
    width: 40px;
    height: 40px;
}
.youtubelogo {
    display: flex;
    padding-left: 10px;
}
.youtubelogo img {
    width: 100px;
    height: 24px;
    object-fit: cover;
    cursor: pointer;
}
.youtubelogo p {
    font-size: 9px;
    color: #acacac;
}
.headermiddle {
    display: flex;
    flex: 1;
    max-width: 600px;
    margin: 0 40px;
    align-items: center;
}
.search {
    display: flex;
    flex: 1;
    align-items: center;
}

.searchinput {
    background-color: hsl(0,0%,7%);
    border: 1px solid hsla(0,0%,100%,0.08);
    flex: 1;
    width: 0px;
    padding: 9px 0 9px 16px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.searchinput::placeholder {
    color: #717171;
    font-size: 15px;
}
.search a {
    background-color: hsla(0,0%,100%,0.08);
    height: 36px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 18px;
    padding-left: 16px;
    display: flex;
    align-items: center;
}
.lupa {
    width: 18px;
}
.mic {
    background-color: hsla(0,0%,100%,0.08);
    border: none;
    border-radius: 50%;
    padding: 5px 12px;
    margin-left: 14px;
    cursor: pointer;
}
.mic img {
    width: 13px;
}

.rightheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}
.sino, .publicar {
    width: 36px;
    height: 36px;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 50%;
    transition: background-color 0.1s;;
}
.sino:hover, .publicar:hover, .bar:hover {
    background-color: #212121;
}
.profile {
    border-radius: 50%;
    object-fit: cover;
    height: 28px;
    width: 28px;
    margin-right: 10px;
    cursor: pointer;
}

.dica {
    position: absolute;
    font-size: 10px;
    background-color: #717171;
    top: 50px;
    left: 0;
    padding: 4px;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
    white-space: nowrap;
}
.mic .dica {
    left: -36px;
}
.divnotificar .dica {
    left: -14px;
}
.search a,
.mic,
.divpublicar,
.divnotificar {
    position: relative;
}

.search a:hover .dica,
.mic:hover .dica,
.divpublicar:hover .dica,
.divnotificar:hover .dica{
    opacity: 1;
}

.divnotificar, .divpublicar {
    display: flex;
    align-items: center;
}