.sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 60px;
    left: 4px;
}
.sidebar div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 60px;
    height: 65px;
    border-radius: 15px;
    transition: background-color 0.1s;
}
.sidebar div:hover {
    background-color: #212121;
}

.sidebar img {
    width: 18px;
}
.divvoce img {
    width: 34px;
    margin-bottom: -8px;
}
.shorts {
    height: 28px;
    width: 28px;
    object-fit: cover;
}

.sidebar p {
    font-size: 10px;
    padding-top: 8px;
}